<div class="container">
  <div class="mail-header header-cancellation">
    <h2>Reservation cancelled</h2>
  </div>
  <div class="mail-body">
    <ul class="mail-content">
      <li>
        Oh no, <%= @reservation.guest_name.split.first %>! Your reservation was cancelled at Guava Inn!
      </li>
      <li>
        Your reservation for <%= @reservation.duration %> nights at <b>Room <%= @reservation.room.code %></b>
        from <b><%= @reservation.start_date %></b> to <b><%= @reservation.end_date %></b> is not happening anymore.<br>
        We hope you still consider staying with us anytime soon!
      </li>
      <li>
        <i>If you did not request a cancellation, please contact us. We would be more than happy to assist you.</i>
      </li>
    </ul>
  </div>
</div>
