<%= form_with(model: reservation, local: true, class: 'pl-3') do |form| %>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <% if reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
            <% reservation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-2 pr-0">
      <div class="form-group field">
        <%= form.label :start_date %>
        <%= form.date_field :start_date, class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-12 col-md-2 pr-0">
      <div class="form-group field">
        <%= form.label :end_date %>
        <%= form.date_field :end_date, class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-12 col-md-2">
      <div class="form-group field">
        <%= form.label :number_of_guests %>
        <% if reservation.room %>
          <%= form.select :number_of_guests, options_for_select(1..reservation.room.capacity, params.dig(:reservation, :number_of_guests)), {}, { class: 'form-control' } %>
        <% else %>
          <%= form.select :number_of_guests, options_for_select(1..10, params.dig(:reservation, :number_of_guests)), {}, { class: 'form-control' } %>
        <% end %>
      </div>
    </div>

    <% if reservation.room %>
      <%= form.hidden_field :room_id %>
    <% else %>
      <div class="col-sm-12 col-md-2">
        <div class="form-group field">
            <%= form.label :room_id %>
            <%= form.select :room_id, options_from_collection_for_select(Room.all, :id, :code), {}, { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="form-group field">
        <%= form.label :guest_name %>
        <%= form.text_field :guest_name, maxlength: 256, class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="form-group field">
        <%= form.label :guest_email, 'Guest email (optional)' %>
        <%= form.text_field :guest_email, maxlength: 128, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="actions">
        <%= form.submit class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>



