
<div class="row mt-5">
  <div class="col-sm-12 col-md-12 pl-0">
    <h2>
      <i class="mdi mdi-calendar-plus" aria-hidden="true"></i>&nbsp;
      New Reservation
    </h2>
  </div>
</div>

<p id="alert"><%= alert %></p>

<%= form_tag search_reservations_path, method: :get, class: 'pl-3' do %>
  <div class="row">
    <div class="col-sm-12 col-md-2 pr-0">
      <div class="form-group field">
        <%= label_tag :start_date, 'From' %>
        <%= date_field_tag :start_date, params[:start_date] || Date.current, class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-12 col-md-2 pr-0">
      <div class="form-group field">
        <%= label_tag :end_date, 'To' %>
        <%= date_field_tag :end_date, params[:end_date] || Date.tomorrow, class: 'form-control' %>
      </div>
    </div>

    <div class="col-sm-12 col-md-2">
      <div class="form-group field">
        <%= label_tag :number_of_guests, '# of guests' %>
        <%= select_tag :number_of_guests, options_for_select(1..10, params[:number_of_guests]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="actions">
        <%= submit_tag 'Search for Available Rooms', class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>


<% if @should_show_results %>
  <section class="listing">
    <div class="row mt-5">
      <div class="col-sm-12 col-md-12 pl-0">
        <h3>
          <i class="mdi mdi-bed" aria-hidden="true"></i>&nbsp;
          Available Rooms
        </h3>
      </div>
    </div>

    <div class="row pl-3 pr-3">
      <table class="table table-hover table-responsive-sm">
        <thead class="bg-secondary">
          <tr>
            <th>Code</th>
            <th>Capacity</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% if @available_rooms.any? %>
            <% @available_rooms.each do |room| %>
              <tr>
                <td class="align-middle"><%= room.code %></td>
                <td class="align-middle"><%= pluralize(room.capacity, 'person', 'people') %></td>
                <td class="align-middle">
                  <%= link_to 'Create Reservation', new_reservation_path( reservation: {
                    room_id: room.id,
                    start_date: params[:start_date],
                    end_date: params[:end_date],
                    number_of_guests: params[:number_of_guests],
                  }) %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <td colspan="7">There are no available rooms for the selected filters.</td>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
<% end %>

<div class="row mt-1">
  <div class="col-sm-6 col-md-2">
    <%= link_to rooms_path do %>
      <button class="btn btn-info mdi mdi-arrow-left">
        Back
      </button>
    <% end %>
  </div>
</div>
