<p id="notice"><%= notice %></p>

<div class="row mt-5">
  <div class="col-sm-12 col-md-12 pl-0">
    <h2>
      <i class="mdi mdi-percent" aria-hidden="true"></i>&nbsp;
      Global Occupancy
    </h2>
  </div>
</div>

<div class="row pl-3">
  <div class="card text-white bg-info mb-3 mr-4 col-md-2 col-sm-12" id="week-global-occupancy">
    <div class="card-header pl-1">
      <h3 class="mb-0">
        <i class="mdi mdi-calendar-week" aria-hidden="true"></i>&nbsp;
        Week
      </h3>
    </div>
    <div class="card-body pt-0 pb-4 pl-1 pr-2">
      <h1 class="card-title">
        <%= @week_global_occupancy_rate %><small>%</small>
      </h1>
      <p class="card-text font-italic mb-0">in the next 7 days</p>
      <p class="card-text font-italic small">due to <%= pluralize(@week_total_reservations, 'reservation') %> reservations </p>
    </div>
  </div>

  <div class="card text-white bg-info mb-3 mr-4 col-md-2 col-sm-12" id="month-global-occupancy">
    <div class="card-header pl-1">
      <h3 class="mb-0">
        <i class="mdi mdi-calendar-month" aria-hidden="true"></i>&nbsp;
        Month
      </h3>
    </div>
    <div class="card-body pt-0 pb-4 pl-1 pr-2">
      <h1 class="card-title">
        <%= @month_global_occupancy_rate %><small>%</small>
      </h1>
      <p class="card-text font-italic mb-0">in the next 30 days</p>
      <p class="card-text font-italic small">due to <%= pluralize(@month_total_reservations, 'reservation') %> reservations </p>
    </div>
  </div>
</div>

<div class="row mt-5 align-items-end">
  <div class="col-md-2 col-sm-12 pl-0">
    <h2 class="mb-0">
      <i class="mdi mdi-bed" aria-hidden="true"></i>&nbsp;
      Rooms
    </h2>
  </div>

  <div class="col-sm-6 col-md-2 offset-md-6 pr-0 pl-0">
    <%= link_to search_reservations_path, class: "float-right" do %>
      <button class="btn btn-success mdi mdi-calendar-plus">
        New Reservation
      </button>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-2 pr-0 pl-0">
    <%= link_to new_room_path, class: "float-right" do %>
      <button class="btn btn-success mdi mdi-home-plus">
        New Room
      </button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-12">
    <p class="small font-italic mb-0">
      <%= @rooms.count %> Rooms registered
    </p>
  </div>
</div>

<div class="row pl-3 pr-3">
  <table class="table table-hover table-responsive-sm">
    <thead class="bg-secondary">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Capacity</th>
        <th scope="col" colspan="2">Occupancy (Week / Month)</th>
        <th scope="col" class="text-center" colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% if @rooms.any? %>
        <% @rooms.each do |room| %>
          <tr>
            <td class="align-middle"><%= room.code %></td>
            <td class="align-middle"><%= pluralize(room.capacity, 'person', 'people') %></td>
            <td class="align-middle"><%= room.week_occupancy_rate %><small>%</small></td>
            <td class="align-middle"><%= room.month_occupancy_rate %><small>%</small></td>
            <td class="align-middle text-center">
              <%= link_to room, class: "text-info" do %>
                <i class="mdi mdi-eye" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class="align-middle text-center">
              <%= link_to edit_room_path(room), class: "text-success" do %>
                <i class="mdi mdi-pencil" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class="align-middle text-center">
              <%= link_to room, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" do %>
                <i class="mdi mdi-delete" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td colspan="7">There are no rooms in the Guava Inn yet.</td>
      <% end %>
    </tbody>
  </table>
</div>
